<%= render "shared/second-header"%>
<%# if user_signed_in? && current_user.nickname == @nickname %>
<%#= link_to "マイページ設定", new_card_path(current_user), id: "setting" %>
<%# end %>

<%= form_for(current_user) do |f| %>
<%= render 'shared/error_messages', model: f.object %>
  <% if @card.present? %>
    <div class='credit-card-form'>
        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">カード情報</label>
            <span class="indispensable">必須</span>
          </div>
          <%= "**** **** **** " + @card[:last4] %>
          <div class='available-card'>
            <%= image_tag 'card-visa.gif', class: 'card-logo'%>
            <%= image_tag 'card-mastercard.gif', class: 'card-logo'%>
            <%= image_tag 'card-jcb.gif', class: 'card-logo'%>
            <%= image_tag 'card-amex.gif', class: 'card-logo'%>
          </div>
        </div>
        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">有効期限</label>
            <span class="indispensable">必須</span>
          </div>
          <div class='input-expiration-date-wrap'>
            <%= @card[:exp_month] %>
            <p>月</p>
            <%= @card[:exp_year] %>
            <p>年</p>
          </div>
        </div> 
    </div>
  <% end %>
    <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">ニックネーム</label>
      
    </div>
    <%= current_user.nickname %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">メールアドレス</label>
      
    </div>
    <%= current_user.email %>
  </div>
  
  
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">お名前(全角)</label>
      
    </div>
  
      <%= current_user.last_name %>
      <%= current_user.first_name %>
   
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">お名前カナ(全角)</label>
      
    </div>
    
      <%= current_user.last_name_kana %>
      <%= current_user.first_name_kana %>
   
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">生年月日</label>
      
    </div>
    <div class='input-birth-wrap'>
      <%= current_user.birth_date %>
    </div>
     <br>
  </div>
  
<% end %>
<div class="item-show">
  <h1 class="search-result">
    出品している商品一覧
  </h1>
<% if @items.length !=0 %>
    <% @items.each do |item| %>
      <br>
      <div class="item-box">
          <div class="item-explain-box">
            <h2 class="name">
              <%= item.name %>
            </h2>
          </div>
          <div class="item-img-content-show">
            <% item.images.each do |image| %>
              <%= image_tag image, class:'item-box-img' %>
            <% end %>
          </div>
          <div class="item-price-box">
            <span class="item-price">
              <%= item.price %>
            </span>
            <span class="item-postage">
              <%= item.shipping_fee_status.name %>
            </span>
          </div>
          <% if user_signed_in? && item.order.nil? %>
            <% if current_user.id == item.user_id %>
            <%= link_to "商品の編集", edit_item_path(item.id), method: :get, class: "item-red-btn" %>
            <p class="or-text">or</p>
            <%= link_to "削除", item_path(item.id), method: :delete, class:"item-destroy" %>

            
            <% else %>
            <%= link_to "購入画面に進む", item_orders_path(item.id),class:"item-red-btn"%>
            <% end %>
         <% end %>
        </div>
        <div class="item-explain-box">
          <span><%= item.info %></span>
        </div>
        <table class="detail-table">
          <tbody>
            <tr>
              <th class="detail-item">出品者</th>
              <td class="detail-value"><%= item.user.nickname %></td>
            </tr>
            <tr>
              <th class="detail-item">カテゴリー</th>
              <td class="detail-value"><%= item.category.name %></td>
            </tr>
            <tr>
              <th class="detail-item">商品の状態</th>
              <td class="detail-value"><%= item.sales_status.name %></td>
            </tr>
            <tr>
              <th class="detail-item">配送料の負担</th>
              <td class="detail-value"><%= item.shipping_fee_status.name %></td>
            </tr>
            <tr>
              <th class="detail-item">発送元の地域</th>
              <td class="detail-value"><%= item.prefecture.name %></td>
            </tr>
            <tr>
              <th class="detail-item">発送日の目安</th>
              <td class="detail-value"><%= item.scheduled_delivery.name %></td>
            </tr>
          </tbody>
        </table>
    <% end %>
  <% else %>
  <div class="no-result">
    出品している商品はありません
  </div>
  <% end %>
  <br>
</div>
<%= render "shared/second-footer"%>
<% breadcrumb :user_show %>


