<%= render "shared/second-header"%>
<%# if user_signed_in? && current_user.nickname == @nickname %>
<%#= link_to "マイページ設定", new_card_path(current_user), id: "setting" %>
<%# end %>

<%= form_for(current_user) do |f| %>
<%= render 'shared/error_messages', model: f.object %>
  <% if @card.present? %>
    <div class='credit-card-form'>
        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">カード情報</label>
            <span class="indispensable">必須</span>
          </div>
          <%= "**** **** **** " + @card[:last4] %>
          <div class='available-card'>
            <%= image_tag 'card-visa.gif', class: 'card-logo'%>
            <%= image_tag 'card-mastercard.gif', class: 'card-logo'%>
            <%= image_tag 'card-jcb.gif', class: 'card-logo'%>
            <%= image_tag 'card-amex.gif', class: 'card-logo'%>
          </div>
        </div>
        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">有効期限</label>
            <span class="indispensable">必須</span>
          </div>
          <div class='input-expiration-date-wrap'>
            <%= @card[:exp_month] %>
            <p>月</p>
            <%= @card[:exp_year] %>
            <p>年</p>
          </div>
        </div> 
    </div>
  <% end %>
    <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">ニックネーム</label>
      
    </div>
    <%= current_user.nickname %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">メールアドレス</label>
      
    </div>
    <%= current_user.email %>
  </div>
  
  
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">お名前(全角)</label>
      
    </div>
  
      <%= current_user.last_name %>
      <%= current_user.first_name %>
   
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">お名前カナ(全角)</label>
      
    </div>
    
      <%= current_user.last_name_kana %>
      <%= current_user.first_name_kana %>
   
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">生年月日</label>
      
    </div>
    <div class='input-birth-wrap'>
      <%= current_user.birth_date %>
    </div>
     <br>
  </div>
  
<% end %>
<%= render "shared/second-footer"%>
<% breadcrumb :user_show %>


