<h1>
  検索結果
</h1>
<%# 検索結果の個数で条件分岐 %>
<% if @results.length !=0 %>
  <% @results.each do |result| %>
    <br>
    <li>
      <%= result.user.nickname %>
      <%= result.name %>
      <%= result.info %>
      <%= result.price %>
      <%= result.category.name %>
      <%= result.sales_status.name %>
      <%= result.shipping_fee_status.name %>
      <%= result.prefecture.name %>
      <%= result.scheduled_delivery.name %>
    </li>
  <% end %>
<% else %>
  該当する商品はありません
<% end %>
<br>
<%= link_to 'トップページへ戻る', root_path %>