<div class="item-show">
  <h1 class="search-result">
    検索結果
  </h1>
  <%# 検索結果の個数で条件分岐 %>
  <% if @results.length !=0 %>
    <% @results.each do |result| %>
      <br>
      <div class="item-box">
          <div class="item-explain-box">
            <h2 class="name">
              <%= result.name %>
            </h2>
          </div>
          <div class="item-img-content-show">
            <% result.images.each do |image| %>
              <%= image_tag image, class:'item-box-img' %>
            <% end %>
          </div>
          <div class="item-price-box">
            <span class="item-price">
              <%= result.price %>
            </span>
            <span class="item-postage">
              <%= result.shipping_fee_status.name %>
            </span>
          </div>
          <% if user_signed_in? && result.order.nil? %>
            <% if current_user.id == result.user_id %>
            <%= link_to "商品の編集", edit_item_path(result.id), method: :get, class: "item-red-btn" %>
            <p class="or-text">or</p>
            <%= link_to "削除", item_path(result.id), method: :delete, class:"item-destroy" %>

            
            <% else %>
            <%= link_to "購入画面に進む", item_orders_path(result.id),class:"item-red-btn"%>
            <% end %>
         <% end %>
        </div>
        <div class="item-explain-box">
          <span><%= result.info %></span>
        </div>
        <table class="detail-table">
          <tbody>
            <tr>
              <th class="detail-item">出品者</th>
              <td class="detail-value"><%= result.user.nickname %></td>
            </tr>
            <tr>
              <th class="detail-item">カテゴリー</th>
              <td class="detail-value"><%= result.category.name %></td>
            </tr>
            <tr>
              <th class="detail-item">商品の状態</th>
              <td class="detail-value"><%= result.sales_status.name %></td>
            </tr>
            <tr>
              <th class="detail-item">配送料の負担</th>
              <td class="detail-value"><%= result.shipping_fee_status.name %></td>
            </tr>
            <tr>
              <th class="detail-item">発送元の地域</th>
              <td class="detail-value"><%= result.prefecture.name %></td>
            </tr>
            <tr>
              <th class="detail-item">発送日の目安</th>
              <td class="detail-value"><%= result.scheduled_delivery.name %></td>
            </tr>
          </tbody>
        </table>
    <% end %>
  <% else %>
  <div class="no-result">
    該当する商品はありません
  </div>
  <% end %>
  <br>
</div>
<% breadcrumb :items_search %>